.main {
	position: relative;
	/* height: 100vh;
	width: 100vw; */
}

/* first occurence of div in .main */
/* .main div:first-child {
	height: 10vh;
} */

.socialList {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 12px;
}

.socialList li:not(:last-child) {
	margin-right: 15px;
}

.socialList li {
	cursor: pointer;
}

.socialList li:hover {
	transform: scale(1.2);
	transition: transform 0.1s;
}

.socialList img {
	filter: invert(89%) sepia(3%) saturate(55%) hue-rotate(285deg)
		brightness(108%) contrast(98%);
}
.socialListTwo {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 0px;
	margin-bottom: 5px !important;
}

.socialListTwo li:not(:last-child) {
	margin-right: 15px;
}

.socialListTwo li {
	cursor: pointer;
}

.socialListTwo li:hover {
	transform: scale(1.2);
	transition: transform 0.1s;
}

.socialListTwo img {
	filter: invert(89%) sepia(3%) saturate(55%) hue-rotate(285deg)
		brightness(108%) contrast(98%);
}

.socialListThree {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 0px;
}

.socialListThree li:not(:last-child) {
	margin-right: 15px;
}

.socialListThree li {
	cursor: pointer;
}

.socialListThree li:hover {
	transform: scale(1.2);
	transition: transform 0.1s;
}

.socialListThree img {
	filter: invert(89%) sepia(3%) saturate(55%) hue-rotate(285deg)
		brightness(108%) contrast(98%);
}

.discName a {
	cursor: pointer;
}

.discClick {
	font-size: smaller;
	margin-bottom: 4px !important;
}

#dmOpen {
	font-size: 12px;
}

#dmOpenn {
	font-size: 12px;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	cursor: pointer;
	width: 64px;
	height: 64px;
}

.close:hover {
	transform: scale(1.2);
	transition: all 0.25s;
	transform-origin: center;
}
