.main {
	position: relative;
	/* height: 100vh;
	width: 100vw; */
}

/* first occurence of div in .main */
/* .main div:first-child {
	height: 10vh;
} */

.socialList {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 12px;
}

.socialList li:not(:last-child) {
	margin-right: 15px;
}

.socialList li {
	cursor: pointer;
}

.socialList li:hover {
	transform: scale(1.2);
	transition: transform 0.1s;
}

.socialList img {
	filter: invert(89%) sepia(3%) saturate(55%) hue-rotate(285deg)
		brightness(108%) contrast(98%);
}
.socialListTwo {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 0px;
	margin-bottom: 5px !important;
}

.socialListTwo li:not(:last-child) {
	margin-right: 15px;
}

.socialListTwo li {
	cursor: pointer;
}

.socialListTwo li:hover {
	transform: scale(1.2);
	transition: transform 0.1s;
}

.socialListTwo img {
	filter: invert(89%) sepia(3%) saturate(55%) hue-rotate(285deg)
		brightness(108%) contrast(98%);
}

.socialListThree {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 0px;
}

.socialListThree li:not(:last-child) {
	margin-right: 15px;
}

.socialListThree li {
	cursor: pointer;
}

/* .socialListThree li:hover {
	transform: scale(1);
	transition: transform 0.05s;
} */

.socialListThree img {
	filter: invert(89%) sepia(3%) saturate(55%) hue-rotate(285deg)
		brightness(108%) contrast(98%);
}

.discName a {
	cursor: pointer;
}

.discClick {
	font-size: smaller;
	margin-bottom: 4px !important;
}

#dmOpen {
	font-size: 12px;
}

#dmOpenn {
	font-size: 12px;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	cursor: pointer;
	width: 64px;
	height: 64px;
}

.close:hover {
	transform: scale(1.2);
	transition: all 0.25s;
	transform-origin: center;
}

.modalContentList {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;
}

.modalContentList img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	border-radius: 10px;
	border: 1px solid #000;
	cursor: pointer;

	/* crop img element to 1:1.3 ratio */
	object-fit: cover;
}

.modalContentList > div:not(:last-child) {
	margin-right: 15px;
}

.modalContentList > div:hover {
	transform: scale(1.1);
}

.modalContentList > div {
	cursor: pointer;
	transition: transform 0.1s;
	height: 200px;
	width: auto;

	/* center content */
	display: flex;
	justify-content: center;
	align-items: center;
	transform-origin: center;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal p,
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal button {
	color: #f5f4f4;
}

.modalOverlay {
	background-color: rgba(0, 0, 0, 0.7);
}

.button {
	background-color: rgba(20, 20, 20, 0.95);
	color: #000;
	padding: 3px 6px;
	border-radius: 5px;
	border: 2px solid rgba(177, 0, 0, 0.9);
	cursor: pointer;
	transition: all 0.25s;
	margin-top: 14px;
}

.button:hover {
	background-color: rgba(177, 0, 0, 0.9);
	color: #f5f4f4;
}

#freaky {
	font-size: 12px;
	margin-top: 6px;
	color: var(--font-color-link);
}

#freaky:hover {
	color: var(--font-color-link-hover);
}
