.NavWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 10vh;
	width: 100%;
	background-color: rgb(22, 22, 22);
	position: fixed;
	z-index: 6;
	transition: box-shadow 0.25s ease, background-color 0.25s ease;
}
/* if not mobile phone navwrapper height is 64px */

.NavWrapper ul {
	width: 100%;
	text-decoration: none;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0rem !important;
}

#title {
}

@keyframes fade-in-out {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#terminalitem {
	width: 10px;
	height: 16px;
	background-color: var(--imperial-red);
	animation: fade-in-out 2s infinite;
	border-radius: 10%;
}
